*.mode1v3
*.pbxuser
.DS_Store
Localizable.strings
archive/archiveVersion.txt
archiveHD/archiveVersion.txt
install
build
*~

.cxx
.gradle
.idea
**/*.iml
local.properties

**/*.pyc

*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata/

android/playstore/apks/*

/archive/AtlantisIV/
/archive/ChandraII/
/archive/Hernandez/
/archive/Kyoto/
/archive/London/
/archive/Milano/
/archive/Neuchatel/
/archive/Tombstone/
/archive/Uraniborg/
/archiveHD/AtlantisIV/
/archiveHD/ChandraII/
/archiveHD/Hernandez/
/archiveHD/Kyoto/
/archiveHD/London/
/archiveHD/Milano/
/archiveHD/Neuchatel/
/archiveHD/Tombstone/
/archiveHD/Uraniborg/
.externalNativeBuild
/android/project/*/version.properties
/android/logs

Releases for uploading
/Chronometer.xcodeproj/project.xcworkspace/xcshareddata
