*.mode1v3
*.pbxuser
.DS_Store
Localizable.strings
archive/archiveVersion.txt
archiveHD/archiveVersion.txt
install
build
sims
*~

.cxx
.gradle
.idea
**/*.iml
local.properties

**/*.pyc

*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata/

android/playstore/apks/*

.externalNativeBuild
/android/project/*/version.properties
/android/logs

Releases for uploading
/Chronometer.xcodeproj/project.xcworkspace/xcshareddata
